<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style/start.css">
    <title>Leia Bonito</title>
</head>
<body>
    <div id="content">
    <h1>Seja Bem Vindo</h1>
    <h2>O objetivo desse site é facilitar a leitura de textos do site marxists.org</h2>
    <form id="form" method="get" action="/read">
        <input type="text" name="url" id="url" placeholder="Cole seu link">
        <button type="submit">Acessar</button>
    </form>
    </div>
    
</body>
</html>